extends layout

block content
    h1.center-align=title
    p.center-align Submit a new kitty!

    section.row#queryDiv
        form(onsubmit="return submitForm('submit')")
            div.input-field.col.s12
                input(placeholder="Maine Coon" id="catName" type="text" name="catName").validate
                label(for="catName") Cat Breed
            div.input-field.col.s12
                input(placeholder="http://example.com/cat.png" id="catImage" type="url" name="catImage").validate
                label(for="catName") Cat Image
            div.input-field.col.s12
                textarea(id="catDescription" name="catDescription").materialize-textarea
                label(for="catDescription") Describe this cat!
            each val, index in catQuestions
                div.input-field.col.s12
                    h5=val.query
                each val2, index2 in val.params
                    p
                        input(
                            id=index2
                            name=index
                            type="radio"
                            value=index2
                            required
                        )
                        label(for=index2)=val2
            button.waves-effect.waves-light.btn#submit Submit!

    section#modal.modal
        div.modal-content#modalContent
            h4#name
            p#description
            img#image
        div.modal-footer
            a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#")